
    body {
        background-color: rgb(186, 97, 97);
    }

    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Arial', sans-serif;
    }

    h1:hover {
        color: rgb(186, 97, 97);
        background-color: rgb(255, 255, 255);
    }